.App {
  min-height: 100vh;
  padding: 150px 100px;
  font-family: Poppins, sans-serif;
}

.title {
  font-family: "Outfit", sans-serif;
  font-size: 50px;
  margin-bottom: 10px;
}

.box-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 50px;
}

.box-services {
  width: 30%;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
}

.detail {
  width: 100%;
  height: 300px;
  padding: 50px;
  margin-bottom: 50px;
  background-color: white;
  border: 2px solid #b8901a;
  border-radius: 40px;
}

.box-content {
  margin: 20px 0 30px 0;
  min-height: 100px;
  text-align: left;
}

.box-content ul {
  padding-left: 0;
}

.price {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.price .yellow-text {
  color: #b8901a;
  font-size: 20px;
}

.action {
  text-align: center;
}

.custom-button {
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid transparent;
  border-radius: 25px;
  text-decoration: none;
}

.see-product {
  color: #b8901a;
  border-color: #b8901a;
  font-weight: 400;
  margin-right: 30px;
  transition: background-color 0.3s, color 0.3s;
}

.see-product:hover {
  color: white;
  background-color: #b8901a;
  font-weight: bold;
  margin-right: 30px;
}

.book-now {
  background-color: #decc97;
  color: white;
  transition: background-color 0.3s, color 0.3s;
}

.book-now:hover {
  color: white;
  background-color: #b8901a;
  font-weight: bold;
}

.button-container hr {
  flex-grow: 1;
  height: 1px;
  border: 0;
  background-image: linear-gradient(
    to right,
    rgba(191, 155, 48, 0.5),
    rgba(191, 155, 48, 8),
    rgba(191, 155, 48, 0.5)
  );
  margin: 0 1em;
}

.user-profile {
  display: flex;
  align-items: center;
}

.user-pp {
  margin-right: 10px;
}

.name-user {
  display: flex;
  flex-direction: column;
  text-align: left;
  line-height: 10px;
}

.review-and-ulasan {
  text-align: center;
  margin-top: 20px;
}

.review-title {
  margin-bottom: 20px;
}

.reviews-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

.review {
  width: 30%;
  margin-bottom: 60px;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 20px;
  border: 2px solid #b8901a;
  box-shadow: 0 2px 6px #948d7a;
}

.review-uniq {
  width: 30%;
  margin-top: -10%;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 20px;
  border: 2px solid #b8901a;
  box-shadow: 0 2px 6px #948d7a;
}

.review-header {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}

.reviewer-photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.rating {
  font-size: 24px;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #b8901a;
  margin: 20px 0;
}

.ulasan {
  text-align: left;
}

.dot-icon {
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: -90px;
  font-size: 12px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.oval-button {
  padding: 15px 25px;
  margin: 10px;
  border-radius: 30px;
  border: 1px solid #b8901a;
  color: #b8901a;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.oval-button:hover {
  background-color: #b8901a;
  color: white;
  font-weight: bold;
}
